* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url("./assets/fonts/Nunito-ExtraBold.ttf");
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: 'Nunito-Light';
  src: url("./assets/fonts/Nunito-Light.ttf");
}

p,
li,
h2,
span {
  font-family: 'Nunito-Regular', sans-serif;
}

.bold,
h3,
h1 {
  font-family: 'Nunito-ExtraBold', sans-serif;
}

.light {
  font-family: 'Nunito-light', sans-serif;
  font-size: 1rem;
}

.noScrollbar {
  overflow-y: hidden;
}

/* ===============================
  in progress
================================ */
.inProgressH1 {
  text-align: center;
  margin: 100px;
}